<div class="media customer-testi m-2">
  <img [src]="review.avatar" class="avatar avatar-small mr-3 rounded shadow" alt="">
  <div class="media-body content p-3 shadow rounded bg-white position-relative">
    <ul class="list-unstyled mb-0">
      <li class="list-inline-item" *ngFor="let star of [].constructor(review.stars)">
        <span class="material-icons text-warning">
          star
        </span>
      </li>
    </ul>
    <p class="text-muted mt-2">
      {{review.review}}
    </p>
    <h6 class="text-primary">
      - {{review.client}} <small class="text-muted">{{ review.clientPosition }}</small>
    </h6>
  </div>
</div>