<div class="features" [ngClass]="{'active': tabTitle.isActive}">
  <div class="content mt-4 text-left" [ngClass]="{'text-white': tabTitle.isActive}">
    <div class="index-container mr-2">
      <span
        [ngClass]="{'active-index': tabTitle.isActive}"
        *ngIf="withIndex"
      >
        {{index}}
      </span>
    </div>
    <div class="title-description__wrapper">
      <h5 class="title-2" [ngClass]="{'active-title': tabTitle.isActive}" >
        {{ tabTitle.title }}
      </h5>
      <p class="description" [ngClass]="{'active-description': tabTitle.isActive}">
        {{ tabTitle.description }}
      </p>
    </div>
  </div>
</div>