.features {
  background: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px 50px 0 0;
  height: auto;
}

.content {
  display: flex;
}

h5.title-2 {
  font-weight: 700;
  font-family: "Poppins";
  line-height: clamp(20px, 2.5vw, 25px);
  color: #3758c3;
  font-size: clamp(15px, 2.5vw, 17px);
}

.active-title {
  color: #71ece7;
}

h5.active-title {
  color: white;
}

.description {
  font-family: "Lato";
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: clamp(20px, 2.5vw, 25px);
  color: #4e555e;
}

.active-description {
  color: white;
}

.features.active {
  animation: backgroundChange 0.4s ease-in-out forwards;
}

.index-container span {
  font-family: "Poppins";
  font-size: clamp(15px, 2.5vw, 20px);
  font-weight: 700;
  background: #3758c3;
  border-radius: 50%;
  width: clamp(25px, 2.5vw, 35px);
  height: clamp(25px, 2.5vw, 35px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.index-container span.active-index {
  background: #67e0db;
}

@keyframes backgroundChange {
  from {
    background: white;
  }

  to {
    background: #3758c3;
  }
}

@media (min-width: 768px) {
  .title-description__wrapper {
    height: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    height: 160px;
  }
}
