<div class="container mt-100 mt-60">
  <div class="circle" [ngClass]="{
      'circle-primary': variant === 'primary',
      'circle-secondary': variant === 'secondary'
    }"></div>
  <div class="row align-items-center flex-row-reverse" [ngClass]="{'flex-row-reverse': variant === 'secondary'}">
    <ul ngbNav #nav="ngbNav" class="nav-pills nav-justified flex-column rounded col-md-5 pr-0 bg-white">
      <li ngbNavItem class="bg-light rounded-md" *ngFor="let item of listItems;">

        <lib-dynamic-list-title [title]="item.title" [description]="item.shortDescription"></lib-dynamic-list-title>

        <ng-template ngbNavContent>
          <div class="saas-feature-shape-right position-relative">
            <lib-dynamic-list-item [item]="item"></lib-dynamic-list-item>
          </div>
        </ng-template>
      </li>
    </ul>
    <div class="col-md-7 col-12 nav-outlet-container" [ngClass]="{
        'pl-md-5': variant === 'primary',
        'pr-md-5': variant === 'secondary'
      }">
      <div [ngbNavOutlet]="nav" class="nav-outlet"></div>
    </div>
  </div>
</div>