.nav-pills a .title {
  font-size: 17px;
  font-weight: 700;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.nav-outlet-container {
  position: relative;
}

.container {
  position: relative;
}

.circle {
  content: "";
  box-shadow: 0 0 40px rgb(47 85 212 / 10%);
  background: rgba(47, 85, 212, 0.1);
  position: absolute;
  width: 30rem;
  height: 30rem;
  border-radius: 15rem;
  transform: rotate(145deg);
  top: 500px;
  z-index: -1;
}

.col-md-7 {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .circle-primary {
    top: 60px;
    right: -100px;
  }
  .circle-secondary {
    top: 60px;
    left: -100px;
  }
}
