figure img {
  padding: 0;
}

figcaption a {
  display: none;
}

@keyframes fade-in-animation {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

.fade-in-image {
  animation: fade-in-animation 0.2s ease-in-out;
  animation-fill-mode: backwards;
}