<figure>
  <img
    #image
    [src]="thumbnail"
    [ngClass]="{ 'fade-in-image': newImageIsSetted }"
    [style.width]="width"
    [style.height]="height"
    loading="lazy"
    alt="lazy image"
  />
  <figcaption>
    <a [href]="figcaptionRef" target="_blank" rel="noreferrer">
      {{figcaptionText}}
    </a>
  </figcaption>
</figure>
