.main-content {
  background: white;
  box-shadow: 4px 12px 19px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.item-image {
  width: 100%;
  object-fit: cover;
}

.normal {
  max-height: 280px;
}

.carousel {
  max-height: 200px;
}

h4.title {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
}

span.text-danger {
  color: #f2724e !important;
}

p.description {
  font-family: "Lato";
  font-size: 15px;
  line-height: 28px;
  color: #333;
}
.item-link {
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 90%;
    height: 500px;
    max-width: 500px;
    margin: 0 auto;
  }
}
