<div class="main-content pb-3">
  <img [src]="item.image" class="item-image" alt="Item image" [ngClass]="{
    'normal': variant === 'normal',
    'carousel': variant === 'carousel'
  }" />
  <div class="container">
    <h4 class="title mt-4 container" *ngIf="!item.isInCarousel; else elseBlock">
      ¿Qué
      <span class="text-danger">
        incluye
      </span>
      este beneficio?
    </h4>
    <ng-template #elseBlock>
      <h4 class="title mt-4 container">
        {{item.title}}
      </h4>
    </ng-template>
    <p class="container description">
      {{item.description}}
      <a [href]="item.link" class="item-link" target="_blank" rel=”noopener” *ngIf="item.link">
        {{item.linkText}}
      </a>
    </p>
  </div>
</div>