.btn {
  color: white;
  border-radius: 40px;
  font-family: 'Poppins';
  font-weight: 700;
  padding: 10px clamp(20px, 2.5vw, 25px);
  font-size: 14px;
  vertical-align: middle;
}

.btn * {
  vertical-align: middle;
}

.btn:hover, .btn:active {
  filter: brightness(85%);
}

.light-blue {
  background: #66A5F7;
}

.darken-blue {
  background: #3758C3;
}

.orange {
  background: #F2714D;
}

span.material-icons {
  font-size: clamp(15px, 5vw, 23px);
}