<lib-card>
  <div class="pt-5">
    <lib-image [width]="imageWidth" [src]="image" [thumbnail]="imageThumbnail"></lib-image>
  </div>
  <div class="text-center p-4">
    <h5>
      {{ cardTitle }}
    </h5>
    <p>
      {{ cardDescription }}
    </p>
  </div>
</lib-card>