.primaryHeader::before {
  content: "h";
  color:transparent;
  background:#93BEED;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.secondaryHeader::before {
  content: "h";
  color:transparent;
  background: #469DFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.morePopularHeader::before {
  content: "";
}

.primary-title {
  color: #93BEED !important;
}

.secondary-title {
  color: #469DFF !important;
}

.pricing-rates {
  position: relative;
  z-index: 1;
  border-bottom: 3px solid #adb5bd;
  max-width: 450px;
  margin: 0 auto;
}

.pricing-rates.business-rate {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pricing-rates.business-rate:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  z-index: 2;
  border-color: #2f55d4;
}

.shadow.business-rate:hover {
  -webkit-box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
  box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pricing-rates.starter-plan {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
  border-color: #2f55d4;
  border-color: transparent;
}

.rounded {
  border-radius: 30px !important;
}

.card-body {
  position: relative;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

img.money-sign {
  margin-top: -25px;
}

.plan-title,
.plan-cost {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: clamp(30px, 2.5vw, 50px);
}

.plan-cost {
  font-size: clamp(25px, 2.5vw, 35px);
  font-family: 'Montserrat';
}

.plan-title {
  font-size: clamp(25px, 2.5vw, 36px);
}

.plan-title {
  color: #222A41;
  letter-spacing: 1px;
}

.plan-cost {
  color: #41F8EF;
}

p.prima-anual {
  color: #93beed;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: clamp(12px, 2.5vw, 16px);
}

.prima-container {
  display: flex;
  justify-content: flex-end;
  max-width: 80%;
  margin-top: -10px;
}

.button-container ::ng-deep .btn {
  padding: 7px 35px;
}

.list-unstyled {
  padding-right: 0;
  padding-left: auto;
}
.buttons-contrata {
  width: 60%;
  font-family: "Nunito", sans-serif;
}
.button-contrata {
  background-color: #F2724E !important;
  border: none !important;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.platino-header {
  position: relative;
  height: 40px;
  background: #2EEFE6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.platino-header p {
  margin: 0;
}

.popular {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
}


@media only screen and (max-width: 600px) {
  img.money-sign {
    position: absolute;
    margin-left: -10px;
    margin-top: 20px;
  }
}

.platino-card {
  color: white;
  background: #459eff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-repeat: no-repeat;
  background-position: right 350px;
}

.card-green {
  background:#2EEFE6;
}

.more-popular-prima {
  color: white !important;
}

.tertiary-title {
  color: #38F9F0 !important;
}