<div class="
    pricing-rates
    business-rate
    starter-plan
    text-center
    shadow
    border-0
    card
    rounded
  " [ngClass]="{
    'primaryHeader': variant === 'primary',
    'secondaryHeader': variant === 'secondary',
    'morePopularHeader card-green': plan.morePopular
  }">
  <div class="platino-header" *ngIf="plan.morePopular">
    <p class="popular">MÁS POPULAR</p>
  </div>
  <div class="card-body" [ngClass]="{'platino-card': plan.morePopular}" [ngStyle]="{'background-image': backgroundUrl}">
    <h4 class="plan-title" [ngClass]="{'text-white': plan.morePopular}">
      {{ plan.title }}
    </h4>
    <h4 class="plan-cost " [ngClass]="{
        'primary-title': variant === 'primary',
        'secondary-title': variant === 'secondary',
        'tertiary-title mt-1 mt-lg-4': plan.morePopular,
        'mt-4': !plan.morePopular
      }">
      <span>
        <ng-content select="[money-sign-image]"></ng-content>
      </span>
      {{ plan.price }}
    </h4>
    <div class="prima-container">
      <p class="prima-anual" [ngClass]="{
        'more-popular-prima': plan.morePopular,
        'primary-title': variant === 'primary',
        'secondary-title': variant === 'secondary'
      }">Prima anual</p>
    </div>

    <div class="text-left">
      <ul class="list-unstyled mt-3 pl-0">
        <ng-content></ng-content>
      </ul>
    </div>
    <div class="button-container">
      <lib-button buttonText="Contrata" (buttonClicked)="contratar()"></lib-button>
    </div>
  </div>
</div>