<div class="container mt-0 mt-md-5">
  <div class="row tab-titles-container">
    <div class="col-md-4 col-12" *ngFor="let tabTitle of tabsTitles; let i = index" (click)="changeActiveTab(i)">
      <lib-tab-title [tabTitle]="tabTitle" [index]="i + 1" [withIndex]="withIndex" ></lib-tab-title>
    </div>
  </div>

  <div class="row tab-body" #tabs>
    <ng-content></ng-content>
  </div>
</div>