.features .title-2 {
  font-size: 20px;
}

.col-md-4.col-12, .col-12 {
  padding: 0;
}

.tab-body {
  padding: 0 15px;
  margin-top: 0;
  border-top: 8px solid #3758C3;
  -webkit-box-shadow: 0px 5px 5px 2px rgb(32 134 238 / 10%);
  box-shadow: 0px 5px 5px 2px rgb(32 134 238 / 10%);
  -o-box-shadow: 0px 5px 5px 2px rgb(32, 134, 238, 0.1);
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

