.item-wrapper {
  opacity: 0;
  display: none;
}

.item-wrapper.active-tab {
  display: block;
  animation: fadein 1s ease-in-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}