.title {
  font-size: 17px;
  font-weight: 700;
}

.nav-link {
  color: #495057 !important;
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-link.active {
  background: #2f55d4 !important;
}

h4.title {
  font-family: 'Poppins';
}

.nav-link .tab-para, h4.title {
  color: #333 !important;
}

.nav-link.active .tab-para, .nav-link.active h4.title {
  color: white !important;
}


.tab-para {
  font-family: 'Lato';
}

.rounded {
  border-radius: 10px !important;
}