
.card-third-section{
  -webkit-box-shadow: 0px 5px 5px 2px rgb(32 134 238 / 10%);
  box-shadow: 0px 5px 5px 2px rgb(32 134 238 / 10%);
  -o-box-shadow: 0px 5px 5px 2px rgb(32, 134, 238, 0.1);
  border-radius: 30px;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
  background: white;
  display: block;
  min-width: 220px;
}


.rounded {
  border-radius: 30px !important;
  height: 100%;
}

@media (max-width: 600px){
  .card-third-section{
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .card-third-section {
    margin: 30px 0 0 0;
  }
}