blockquote{
  display:block;
  background: #fff;
  padding: clamp(8px, 2.5vw, 15px);
  position: relative;
  font-family: 'Poppins';
  font-size: clamp(16px, 2.5vw, 24px);
  line-height: clamp(24px, 2.5vw, 36px);
  font-weight: bold;
  color: #213148;
  text-align: justify;
  border-left: 11px solid #5F9FEB;
}

